@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    background: #111111;
    color: #f6f6f6;
    letter-spacing: 0.025em;
}

h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;
}
h1 span, h2 span, h3 span {
    color: #ffab11;
} 

h2 {
    text-transform: capitalize;
    letter-spacing: 0.025em;
    font-size: clamp(2rem, 1.8125rem + 0.75vw, 2.6rem);
}

a {
    color: #f6f6f6;
    text-decoration: none;
}

a:hover {
    color: #ffab11;
}

li {
    list-style: none;
}

.container {
    padding: 0 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .container {
        padding: 0 70px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        padding: 0 35px;
    }
}
@media screen and (max-width: 425px) {
    .container {
        padding: 0 17px;
    }
}

/* ************ Navigation ********** */
nav {
    width: 100%;
    background: #212121;
    position: absolute;
}
.navigation {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand img {
    display: none;
    width: 50px;
    height: 50px;
    border: solid 2px #ffab11;
    border-radius: 50%;
}

.brand p {
    width: 125px;
    color: #ffab11;
    font-size: 35px;
}

.brand p span {
    color: #f6f6f6;
}

.links {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.links ul {
    width: 100%;
    height: 100%;
    column-gap: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.links ul li a {
    font-size: 15px;
}

.links ul li a:hover {
    color: #ffab11;
    font-size: 20px;
} 

.burger {
    display: none;
}
.burger a {
    font-size: 30px;
}

@media screen and (max-width: 767px) {
    .links {
        display: none;
    }
    .burger {
        display: block;
    }
    .brand p {
        display: none;
    }
    .brand img {
        display: block;
    }
}

/* ************** Header ************* */

header {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
}

header .container {
    width: 100%;
    padding: 0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profil img {
    width: 300px;
    border-radius: 20px;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
}

.bg1 {
    width: 250px;
    height: 50px;
    background-color: #212121;
    position: absolute;
    z-index: 2;
}
.bg2 {
    background-color: #ffab11;
    width: 250px;
    height: 365px;
    position: absolute;
    z-index: 0;
}

.title-description {
    padding-top: 100px;
    width: 425px;
    min-width: 320px;
    height: 100%;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #f6f6f6;
    font-size: clamp(1.5rem, 1.8125rem + 0.75vw, 2rem);
}

h1 #name {
    display: flex;
    align-items: center;
    color: #ffab11;
}

#name hr {
    border: none;
    background: #ffab11;
    margin-right: 10px;
    width: 15px;
    height: 3px;
}

.title-description p {
    width: 350px;
    text-align: justify;
    color: #f6f6f6;
}

.primary-button {
    width: 170px;
    height: 40px;
    font-size: 15px;
    color: #f6f6f6;
    background-color: #111111;
    border: solid 1px #ffab11;
    border-radius: 25px;
}

.primary-button:hover {
    cursor: pointer;
    color: #ffab11;
    font-size: 16px;
    width: 180px;
}

.button:hover {
    color: #8f8d8d;
}

.button .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffab11;
    position: relative;
    top: -40px;
    left: 140px;
}

@media screen and (max-width: 767px) {
    .profil {
        display: none;
    }
}
@media screen and (max-width: 375px) {
    .title-description p {
        width: 280px;
    }
    h1 #name span {
        display: none;
    }
    h1 #name {
        justify-content: center;
    }
    #name hr {
        display: none;
    }
}

/* ********* Information personnel ********* */
#info-perso {
    width: 100%;
    height: fit-content;
}

.info-perso-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
}

.info-perso {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-content {
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    line-height: 30px;
}

.mes-infos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mes-infos p span {
    font-size: 15px;
    color: #8f8d8d;
}

.cv {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cv .primary-button {
    width: 210px;
}

.cv .button .icon {
    left: 180px;
}

.activites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.activite {
    margin: 0 20px 20px 0;
    height: fit-content;
    padding: 5px 20px;
    border: #ffac116c solid 0.5px;
}

.activite .number {
    color: #ffab11;
    font-size: 50px;
    font-weight: 600;
}

.act {
    display: flex;
    align-items: center;
}

.activite-info {
    display: flex;
    justify-content: center;
}

.activite-info hr {
    border: none;
    background-color: #8f8d8d;
    margin-right: 10px;
    margin-top: 8px;
    width: 35px;
    height: 2px;
}

@media screen and (max-width: 1170px) {
    .activites {
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .info-perso {
        justify-content: center;
    }
    .activites {
        flex-direction: row;
    }
}

/* ************* Compétences *********** */
#skills .container {
    row-gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#skills h2 {
    margin-top: 30px;
    position: relative;
    text-align: center;
    color: #f3f3f3;
    z-index: 2;
}

.skills {
    color: #ffffff;
    width: 100%;
    height: fit-content;
    display: flex;
    border-bottom: dashed 2px #ffab11;
        padding-bottom: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 2;
}

.skill-content {
    row-gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skill-content p{
    text-align: center;
}

.skill {
    border-radius: 50%;
    margin: 10px;
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skill img {
    width: 40px;
    height: 40px;
    position: absolute;
  }

@media screen and (max-width: 768px) {
    #skill {
        height: fit-content;
    }
}

@media screen and (max-width: 425px) {
    #skill {
        height: 500px;
    }
    h2 {
        font-size: 30px;
    }
    .skills {
        border-bottom: dashed 2px #ffab11;
        padding-bottom: 10px;
    }
}

/* *************** Services ************** */

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services h2 {
    margin: 30px 0;
}
.services-content {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper {
    width: 100%;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-link {
    user-select: none;
    width: 280px;
    display: block;
    padding: 18px;
    background-color: rgba(155, 155, 155, 0.247);
    border-radius: 12px;
    text-decoration: none;
    border: solid 2px transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-link:active {
    cursor: grabbing;
}

.card-link:hover {
    border-color: #ffab11;
    .card-button {
        color: white;
        background-color: #ffab11;
    }
}

.card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.badge {
    text-align-last: justify;
    color: #ffab11;
    background-color: #79defa83;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    width: fit-content;
    border-radius: 50px;
}

.card-title {
    text-align: justify;
    font-size: 15px;
    color: #f3f3f3;
    font-weight: 600;
}

.card-button {
    width: 35px;
    height: 35px;
    color: #5372f0;
    border-radius: 50%;
    margin: 35px 0 5px;
    border: #5372f0 solid 2px;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #5372f0;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .button {
    color: #5372f0;
    margin-top: -35px;
}

@media screen and (max-width: 768px) {
    .card-wrapper {
        margin: 0 10px 25px;
    }
    .card-wrapper .button {
        display: none;
    }
}

/* *********** projets *************** */

#projects .title-subtitle {
    width: 100%;
    padding: 30px 0;
}

.projects {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.project {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 250px;
}

.proj-1 {
    border-right: #ffab11 2px solid;
    background-image: url(./assets/medias/Projets/CIW.jpg);
}
.proj-1:hover{
    .pap-1 {
        display: flex;
    }
}

.proj-2 {
    border-right: #ffab11 2px solid;
    background-image: url(./assets/medias/Projets/Branding.jpg);
}
.proj-2:hover{
    .pap-2 {
        display: flex;
    }
}

.proj-3 {
    border-right: #ffab11 2px solid;
    background-image: url(./assets/medias/Projets/Hero-slide.jpg);
}
.proj-3:hover{
    .pap-3 {
        display: flex;
    }
}

.proj-4 {
    background-image: url(./assets/medias/Projets/Miro.jpg);
}
.proj-4:hover{
    .pap-4 {
        display: flex;
    }
}

.proj-5 {
    border-right: #ffab11 2px solid;
    background-image: url(./assets/medias/Projets/Permaculture.jpg);
}
.proj-5:hover{
    .pap-5 {
        display: flex;
    }
}

.proj-6 {
    border-right: #ffab11 2px solid;
    background-image: url(./assets/medias/Projets/Pirus.jpg);
}.proj-6:hover{
    .pap-6 {
        display: flex;
    }
}

.proj-7 {
    border-right: #ffab11 2px solid;
    background-image: url(./assets/medias/Projets/web-app.jpg);
}.proj-7:hover{
    .pap-7 {
        display: flex;
    }
}

.proj-8 {
    background-image: url(./assets/medias/Projets/Portefolio.jpg);
}.proj-8:hover{
    .pap-8 {
        display: flex;
    }
}


.paperclips {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.info {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.info-projet {
    color: #ffffff;
    row-gap: 25px;
    width: 100%;
    height: 300px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-projet a{
    color: #29c5f2;
}

.info-projet p {
    text-align: center;
}


@media screen and (max-width: 768px) {
    .projects {
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 425px) {
    .project {
        height: 200px;
    }
}

/* ********** Footer ************* */

footer {
    margin-top: 30px;
    width: 100%;
}

footer .content {
    width: 100%;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}
.footer-content .contact {
    width: 50%;
}
.coordonnees h3 {
    padding: 10px;
}

.coordonnees {
    padding: 10px 0;
}

.mes-coordonnees p {
    padding: 10px 0;
}
.mes-coordonnees p i {
    color: #ffab11;
    font-size: x-large;
}

.mes-coordonnees p span {
    margin-right: 10px;
}

.formulaire-contact {
    width: 50%;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form .name {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .name input {
    width: 250px;
}

input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    background-color: #212121;
    color: #8f8d8d;
    padding: 0 10px;
    border: none;
    border-radius: 50px;
}

textarea {
    width: 100%;
    height: 150px;
    background-color: #212121;
    color: #8f8d8d;
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1280px) {
    .footer-content .contact {
        width: 40%;
    }
    .formulaire-contact {
        width: 60%;
    }
}

@media screen and (max-width: 1115px) {
    form .name input {
        width: 200px;
    }
}
@media screen and (max-width: 810px) {
form .name {
    flex-direction: column;
}
    form .name input {
        width: 100%;
    }
}

@media screen and (max-width: 760px) {
    .footer-content {
        flex-direction: column;
        justify-content: center;
    }
    .footer-content .contact {
        width: 100%;
    }
    .formulaire-contact {
        width: 100%;
    }
    .submit {
        display: flex;
        justify-content: center;
    }
}